body {
    height: 100vh;

    display: grid;
    justify-content: center;
}

.wrapper {
    width: 90em;
    height: 46.5em;
    margin: auto;
    padding: 5em;
    
    
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5rem;
    grid-template-areas:
        "c1 c1 c2 c3"
        "c4 c5 c5 c3";
}

.wrapper div {
    background-color: rgb(68, 68, 68);
    border-radius: 12px;
    box-shadow: 2rem 2rem 4.5rem -1.5rem hsla(217, 19%, 35%, 0.45);
}

#c1 {
    grid-area: c1;
    background-color: hsl(263, 55%, 52%);
}

#c2 {
    grid-area: c2;
    background-color: hsl(217, 19%, 35%);
}

#c3 {
    grid-area: c3;
    background-color: hsl(0, 0%, 100%);
}

#c4 {
    grid-area: c4;
    background-color: hsl(0, 0%, 100%);
}

#c5 {
    grid-area: c5;
    background-color: hsl(219, 29%, 14%);
}